__pycache__
.vscode
.idea
.DS_Store
.git


backend/__pycache__
backend/.vscode
backend/.idea
backend/.DS_Store
backend/.deepeval
backend/logs
backend/app/alembic/versions/*
backend/*.pid
backend/env/.env.dev
backend/env/.env.prod
backend/tests
backend/static/upload/*

frontend/__pycache__
frontend/.vscode
frontend/.idea
frontend/.DS_Store
frontend/node_modules
frontend/dist
frontend/.husky

devops/nginx/fastapp/dist
devops/nginx/fastdocs/dist
devops/nginx/frontend/dist
devops/redis/data
devops/mysql/data

deploy.sh
